{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}

<body>
  <div class="main">
    <div class="wrapper">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-auto">
            <div class="display">
              <p>display1</p>
            </div>
            <div class="col-auto">
              <div class="cal">
                <p>cal1</p>
              </div>
            </div>
            <button type="button" name="button">_</button>
          </div>
          <div class="col-auto">
            <div class="display">
              <p>display2</p>
            </div>
            <div class="col-auto">
              <div class="cal">
                <p>cal2</p>
              </div>
            </div>
            <button type="button" name="button">_</button>
          </div>
          <div class="col-auto">
            <div class="display">
              <p>display3</p>
            </div>
            <div class="col-auto">
              <div class="display">
                <p>cal3</p>
              </div>
            </div>
            <button type="button" name="button">_</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}